<p-toast></p-toast>
<div class="container-fluid">
    <div class="div-container">
        <p class="pi pi-users"> Nuevo cliente:</p>
        <br>
        <span> Fecha:
            {{fecha_actual}}
        </span>
        <hr>
        <div class="content">
            <form [formGroup]="data">
                <div class="flex flex-col gap-2 mt-2">
                    <label for="cedula">Cédula:</label>
                    <input id="cedula" type="text" class="form-control" pInputText formControlName="cedula"
                        (keyup.enter)="on_enter_cedula_cliente($event)">
                </div>
                <div class="flex flex-col gap-2 mt-2">
                    <label for="nomCliente">Nombre cliente</label>
                    <input id="nomCliente" type="text" class="form-control" pInputText formControlName="nombre_cliente"
                        (keyup.enter)="on_enter_nombre_cliente($event)">
                </div>
                <div class="flex flex-col gap-2 mt-2">
                    <label for="tel">Teléfono</label>
                    <input id="tel" type="text" class="form-control" pInputText formControlName="telefono">
                </div>
                <div class="flex flex-col gap-2 mt-4">
                    <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-success w-full"
                        (click)="funct_registra_clientes_c();"></button>
                </div>
            </form>
        </div>
    </div>
</div>