/* Estilos adicionales para pantallas pequeñas (hasta 1366px de ancho) */
@media screen and (max-width: 1366px) {
    .div-conten {
        border-radius: 5px;
        width: 300px;
        height: 50vh;
        margin-left: 7px;
        margin-top: 10px;
        padding: 25px;
        background: #4568DC;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);
        background: linear-gradient(to bottom, #B06AB3, #4568DC);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .div-conten {
        border-radius: 5px;
        width: 280px;
        height: 41vh;
        margin-left: 7px;
        margin-top: 10px;
        padding: 25px;
        background: #4568DC;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);
        background: linear-gradient(to bottom, #B06AB3, #4568DC);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .div-conten {
        border-radius: 5px;
        width: 280px;
        height: 41vh;
        margin-left: 0px;
        margin-top: 15px;
        padding: 25px;
        background: #4568DC;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);
        background: linear-gradient(to bottom, #B06AB3, #4568DC);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
@media screen and (min-width: 1920px) {
    .div-conten {
        border-radius: 5px;
        width: 280px;
        height: 33vh;
        margin-left: 0px;
        margin-top: 15px;
        padding: 25px;
        background: #4568DC;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);
        background: linear-gradient(to bottom, #B06AB3, #4568DC);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}

.w-full {
    width: 100% !important;
    height: 40px;
    border-radius: 5px;
}

span {
    color: white
}

label {
    color: white;
    font-size: 14px;
}

p {
    color: white;
    font: bold;
    font-size: 18px;
}

.spacing {
    margin-top: 20px;
}