@media screen and (max-width: 1366px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 88vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        border-radius: 5px;
        width: 60vw;
        height: 25vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 80vw;
        min-height: 63vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        min-height: 42vh;
        overflow-x: auto;
    }


    .content-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .item-1 {
        margin: 0 !important;
        width: 30vw;
    }

    .item-1-2 {
        margin: 0 !important;
        width: 13vw;
    }

    .content-2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .item-2 {
        margin: 0 !important;
        width: 100%;
    }


    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 7vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber-input {
        height: 6vh !important;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 135px;
        overflow-x: auto;
    }

}

@media screen and (min-width: 1440px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 90.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        border-radius: 5px;
        width: 60vw;
        height: 19vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 90vw;
        min-height: 70vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 52vh;
        overflow-x: auto;
    }


    .content-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .item-1 {
        margin: 0 !important;
        width: 30vw;
    }

    .item-1-2 {
        margin: 0 !important;
        width: 15vw;
    }

    .content-2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .item-2 {
        margin: 0 !important;
        width: 100%;
    }

    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 6vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber-input {
        height: 5vh !important;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        min-height: 260px;
        overflow-x: auto;
    }
}

@media screen and (min-width: 1600px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 90.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        border-radius: 5px;
        width: 55vw;
        height: 20vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 90vw;
        min-height: 69.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 52vh;
        overflow-x: auto;
    }


    .content-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .item-1 {
        margin: 0 !important;
        width: 25vw;
    }

    .item-1-2 {
        margin: 0 !important;
        width: 10vw;
    }

    .content-2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .item-2 {
        margin: 0 !important;
        width: 100%;
    }


    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 6vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber-input {
        height: 5vh !important;
    }

}

@media screen and (min-width: 1920px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 90.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        border-radius: 5px;
        width: 55vw;
        height: 15vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 80vw;
        min-height: 76vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 62vh;
        overflow-x: auto;
    }


    .content-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .item-1 {
        margin: 0 !important;
        width: 20vw;
    }

    .item-1-2 {
        margin: 0 !important;
        width: 10vw;
    }

    .content-2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .item-2 {
        margin: 0 !important;
        width: 100%;
    }

    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 4.6vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

}


.w-full {
    width: 100% !important;
    height: 40px;
    border-radius: 5px;
}

label {
    color: white;
    font-size: 14px;
}

p {
    color: white;
    font: bold;
    font-size: 18px;
}

hr {
    border: 2px solid;
    color: white;
}

span {
    color: white;
}

.custom-table tr {
    background: #304772;
    color: #e7e5e5;
    height: 5px !important;
    border: 1px solid white;
    border-top-left-radius: 5px;
}

.custom-table th {
    background: #d6d4d4;
    color: black;
    height: 5px !important;
}