@media screen and (max-width: 1366px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 88vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        position: relative;
        border-radius: 5px;
        width: 35vw;
        height: 40vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 90vw;
        min-height: 48.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 7vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber-input {
        height: 6vh !important;
    }
}

@media screen and (min-width: 1440px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 90.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        position: relative;
        border-radius: 5px;
        width: 30vw;
        height: 30vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 80vw;
        min-height: 58vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 6vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber-input {
        height: 5vh !important;
    }
}

@media screen and (min-width: 1600px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 90.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        position: relative;
        border-radius: 5px;
        width: 30vw;
        height: 30vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 80vw;
        min-height: 58vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }


    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 6vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber {
        border-color: black;
        width: 100%;
    }

    :host ::ng-deep .p-inputnumber-input {
        height: 5vh !important;
    }

}

@media screen and (min-width: 1920px) {
    .conten-ppal {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 90.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-int {
        position: relative;
        border-radius: 5px;
        width: 30vw;
        height: 30vh;
        left: 0px;
        top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    .content-int-2 {
        position: relative;
        border-radius: 5px;
        width: 80vw;
        min-height: 65.5vh;
        left: 0px;
        margin-top: 0px;
        padding: 20px;
        border: 1px solid white;
    }

    :host ::ng-deep .p-select {
        border-color: black;
        width: 100%;
        height: 4.6vh;
    }

    :host ::ng-deep .p-datepicker {
        border-color: black;
        width: 100%;
    }

}

.content-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.item-1 {
    margin: 0 !important;
    width: 100%;
}

.content-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.item-2 {
    margin: 0 !important;
    width: 100%;
}

.content-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.item-3 {
    margin: 0 !important;
    width: 100%;
}

.w-full {
    width: 100% !important;
    height: 40px;
    border-radius: 5px;
}

label {
    color: white;
    font-size: 14px;
}

p {
    color: white;
    font: bold;
    font-size: 18px;
}

hr {
    border: 2px solid;
    color: white;
}

span {
    color: white;
}